.Footer {
    background-color: rgb(43, 42, 42);
    color: white;
    line-height: 35px;

    .link {
        color: white;
        font-size: 14px;
    }

    h6 {
        font-weight: 600;
        padding-bottom: 20px;
    }

    &__top {
        .col-lg-3{
            // padding: 0 !important; 
        }
        .logo {
            height: 70px;
            width: 200px;
        }
    }
    &__bottom{
        text-align: center;
        p{
            color: white;
        }
        .icon{
            font-size: 20px;
        }
    }
}